.header {position:fixed;
         height:150px;
         width:100%;
         background:red;
         opacity: 0.8;
         margin:0 auto;    
         z-index: 120;
         
}
.nav { 
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      margin: 25px 25px;
      color: #fffff0;
      background: #8b814c;
      font-weight: bold;
      border-radius:20px;
      border-color: black;
      box-shadow: 1px 1px 3px #999999;
      height: 33px;
      width: 50px;
      margin-left: 100px;
      margin-top: 25px;
      font-size: 20px;
}
.main {
    background:url(main.jpg) no-repeat;
    margin:0 auto;
    
}
.auto {background:url(auto.jpg) no-repeat;
     opacity:0.9;
     margin: 0 auto;
    
}
.autoserv {background:url(bb.jpg) no-repeat;
    margin: 0 auto;
    
}
online {background:url(zamov.jpg) no-repeat;
     margin:0 auto;
     
     
}


.contact{
    background-image: url();
}
.footer {
    min-height: 50px;
    color: blue;
    background: #34495e;
}